// mixins media
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 18px;
    line-height: 26 / 18 * 1;
    font-family: "roboto", sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #222222;
    background: rgb(247, 242, 233);
    scroll-behavior: smooth;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s linear;
}
a:hover {
    text-decoration: underline;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* основные настройки */

/* container */
._container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0 10px;
}

// global style
.btn__outline {
    background: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #0a151b;
}

// header
.header {
    margin-top: -96px;
    display: flex;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    background: rgb(247, 242, 233);
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
    &__logo,
    &__acc {
        margin: 0 24px;
    }
    &__navigation {
        display: none;
        font-size: 16px;
        line-height: 20 / 16 * 1;
        ::-webkit-scrollbar {
            display: none;
        }
        ul {
            display: flex;
            align-items: center;
            padding-left: 20px;
            border-radius: 24px;
            border: 1px solid #d6d6d6;
            min-height: 64px;
            max-width: 720px;
            overflow-x: scroll;
        }
        li {
            margin: 0 12px;
            white-space: nowrap;
            a[type="button"] {
                background: #0a151b;
                border: 1px solid #0a151b;
                color: #f6f2e8;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 142px;
                min-height: 50px;
                border-radius: 24px;
            }
            &:last-of-type {
                display: none;
            }
        }
    }
    &__acc {
        display: none;
    }
}
//burger-nav
body.lock {
    overflow: hidden;
}
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 20;
    margin-left: 20px;
    cursor: pointer;
}
.header__burger span {
    position: absolute;
    background-color: #000;
    right: 0;
    width: 25px;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
}
.header__burger:before,
.header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
}
.header__burger:before {
    width: 20px;
}
.header__burger:after {
    width: 100%;
}
.header__burger:before {
    top: 0;
}
.header__burger:after {
    bottom: 0;
}
.header__burger.active span {
    transform: scale(0);
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    width: 20px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    width: 20px;
}
.header__menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    padding: 10% 5%;
    border-radius: 12px;
    border: 1px solid #ccc;
}
.header__menu.active {
    right: 0%;
}
.header__list {
    li {
        margin: 16px;
    }
}

/* intro */
.intro {
    // .intro__wrapper
    margin-top: 96px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 135px 10px 0 10px;
        h1 {
            font-size: 120px;
            line-height: 1;
            color: #0a151b;
        }
    }
    &__bg {
        background: url("/img/shadow-bottom.png") 0 0 no-repeat;
        background-size: cover;
        min-height: 601px;
    }
}

.chat {
    cursor: pointer;
    background: #7e64ff;
    position: fixed;
    z-index: 50;
    right: 20px;
    bottom: 5%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 6px 0px #0000000f;
    @include for-tablet-landscape-up {
        bottom: 25%;
    }
}

// preference
.preference {
    // .preference__wrapper
    &__wrapper {
        position: relative;
        margin-top: 100px;
        z-index: 10;
    }
    &__bg {
        background: url("../img/after-shadow-bg.png") no-repeat !important;
        background-size: cover;
        min-height: 396px;
        min-width: 100%;
        position: relative;
        top: -395px;
        left: 0;
        margin: 0 auto;
        display: none;
    }

    // .preference__text

    &__text {
        max-width: 850px;
        margin: 0 auto;
        color: #0a151b;
        text-align: center;
        padding-bottom: 70px;
        @include for-phone-only {
            padding-bottom: 2em;
        }
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 80px;
            line-height: 80 / 80 * 1;
            span {
                margin: 5px 0 25px 0;
                color: #7e64ff;
            }
        }
        p {
            margin-top: 45px;
            font-size: 22px;
            line-height: 30 / 22 * 1;
        }
    }

    // .preference__video

    &__video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 90px;
        video {
            width: 100%;
            height: auto;
            max-height: 491px;
            object-fit: cover;
            aspect-ratio: 16/9;
            border-radius: 12px;

            @include for-tablet-landscape-up {
                border-radius: 0;
            }
        }
    }

    // .preference__items

    &__items {
        padding: 10px 0;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1266px;
        flex-wrap: wrap;
    }

    // .preference__item

    &__item {
        padding: 45px 15px;
        p {
            color: #0a151b;
            font-size: 18px;
            line-height: 28 / 18 * 1;
            max-width: 300px;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: end;
            color: #7e64ff;
            margin-bottom: 45px;
            font-size: 3rem;
            line-height: 120 / 120 * 1;
            p {
                color: inherit;
                font-size: 22px;
                line-height: 80/ 22 * 1;
                margin-right: 15px;
            }
            @include for-desktop-up {
                font-size: 120px;
            }
        }
    }
}

// between
.between {
    position: relative;
}

/* brands*/
.brands {
    // .brands__text
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__text {
        font-size: 100px;
        line-height: 100 / 100 * 1;
        color: #0a151b;
        max-width: 700px;
        margin: 110px 0;
        h2 {
            margin-top: 50px;
        }
    }
    &__items {
        min-height: 204px;
        background: #e2deda;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    &__item {
        margin: 40px;
        text-align: center;
    }
}

/* carts*/
.carts {
    // .carts__wrapper
    margin-top: 235px;
    margin-bottom: 185px;
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1340px;
        padding: 0 10px;
        margin: 0 auto;
        &__2 {
            max-width: 1260px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 1 415px;
        margin: 12px;
        min-height: 760px;
        color: #0a151b;
        border-radius: 5px;
        img {
            max-height: 350px;
            max-width: 100%;
        }
        &__text {
            text-align: center;
            h3 {
                margin: 40px 0 15px 0;
                font-size: 48px;
                line-height: 48 / 48 * 1;
            }
            span {
                font-size: 22px;
                line-height: 28 / 22 * 1;
            }
            p {
                margin: 32px 0;
            }
        }
        &__btn {
            min-width: 170px;
            height: 56px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 50px;
            height: 56px;
        }
        &__2 {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
        }
        &__h {
            margin: 42px 0 !important;
        }
    }
    &__header {
        margin: 0 auto;
        text-align: center;
        color: #0a151b;
        h2 {
            font-size: 100px;
            line-height: 100 / 100 * 1;
            margin-bottom: 160px;
        }
        p {
            font-size: 22px;
            line-height: 28/22 * 1;
            margin-bottom: 100px;
        }
    }
    &__2 {
        margin-top: 170px;
        margin-bottom: 185px;
    }
}
.big-notice {
    background: #000000;
    color: #f6f2e8;
    padding: 100px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__text {
        margin: 5px 0 56px 0;
        font-size: 70px;
        line-height: 180 / 150 * 1;
        span {
            display: block;
            text-align: center;
        }
    }
    &__button {
        background: #f6f2e8;
        border-radius: 54px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 20 / 18 * 1;
        color: #0a151b;
        min-width: 290px;
        @include for-tablet-portrait-up {
            min-width: 330px;
        }
    }
}
.slider {
    &__responses {
        background: #0a151b;
        color: #f6f2e8;
        width: 100%;
        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 80px 0;
            margin: 0 auto;
            text-align: center;
            &__img {
                margin-bottom: 50px;
                width: 170px;
                height: 170px;
            }
            &__text {
                margin-bottom: 40px;
                h2 {
                    max-width: 940px;
                    font-size: 65px;
                    line-height: 70 / 65 * 1;
                }
            }
            &__about {
                margin-bottom: 70px;
                font-size: 18px;
                line-height: 28 / 18 * 1;
                span {
                    color: #7e64ff;
                }
            }
        }
    }
}

.response {
    &__comments {
        padding: 150px 0 0 0;
        text-align: center;
        color: #0a151b;
        &__header {
            margin-top: 15px;
            margin-bottom: 200px;
            font-size: 140px;
            line-height: 140 / 140 * 1;
            h2 {
                max-width: 840px;
                display: inline-block;
            }
        }
        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1296px;
            margin: 0 auto;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: left;
            width: 100%;
            flex-wrap: wrap;
            &:last-child {
                margin: 185px 0 0 0;
            }
            &__text {
                h3 {
                    margin: 42px 0;
                    font-size: 54px;
                    line-height: 64 / 64 * 1;
                    max-width: unset;
                }
                p {
                    font-size: 18px;
                    line-height: 26 / 18 * 1;
                    max-width: unset;
                    margin: 0 0 60px 0;
                }
            }
            &__text,
            &__button {
                margin: 0 30px;
            }
            &__button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #0a151b;
                min-width: 172px;
                min-height: 56px;
                border-radius: 50px;
                a {
                    padding: 15px;
                }
            }
            img {
                max-width: 100%;
                padding: 10px;
            }
        }
    }
}
.w-570 {
    max-width: 570px !important;
}
.registration {
    background: url("/img/footer-over-background.png") bottom no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 925px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    // .registration__text

    &__text {
        margin-top: 20px;
        max-width: 935px;
        font-size: 80px;
        line-height: 80 / 80 * 1;
        margin-bottom: 130px;
        display: inline-block;
    }

    // .registration__button

    &__button {
        color: #f6f2e8;
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            min-width: 170px;
            min-height: 56px;
            border-radius: 50px;
            border: 1px solid #0a151b;
            background: #0a151b;
        }
    }
}
.footer {
    background: #0a151b;
    color: #838383;
    padding: 60px 0;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__nav {
        color: #f6f2e8;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        text-transform: capitalize;
        margin-bottom: 90px;
        &__item {
            margin: 20px;
            nav {
                ul {
                    li {
                        margin: 15px 0 0 0;
                    }
                }
            }
        }
    }
    &__deeds {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-transform: capitalize;
        margin-bottom: 50px;
        &__nav {
            nav {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    li {
                        margin: 15px;
                    }
                }
            }
        }
        &__social {
            display: flex;
            justify-content: center;
            align-items: center;
            &__item {
                margin: 12.5px;
                transition: all 0.3s linear;
                &:hover {
                    transform: scale(1.1);
                }
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    &__deeds > div {
        margin: 20px;
    }
    &__brands {
        border-top: 1px solid #ffffff14;
        padding-top: 50px;
        width: 100%;
        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        &__item {
            transition: all 0.3s linear;
            margin: 20px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__btn__top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border: 1px solid #7e64ff;
        min-width: 165px;
        min-height: 56px;
        border-radius: 50px;
        color: #f6f2e8;
        font-size: 18px;
        line-height: 20 / 18 * 1;
    }
}
